.no-pokemons {
    text-align:center;
    text-decoration:underline;
    color: rgb(255, 255, 255);
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    background-color:red;
    /* display: inline-block; */
    padding: 4em 4em;
}
.read-more{
    color: red;
    padding: 0.11em 0.11em;
    /* background-color: red; */
    /* padding-right: 100%; */
}
.custom_heading-container{
    /* background-color:red; */
    color: blueviolet;
}
.pokemon-details {
    color: purple;
    padding: 10% ;
    padding-right: 50cm; 
    
}